/* CSS André */

  :root {
    --background-color:rgb(249, 246, 238);
    --main-b: rgb(198, 214, 240);
    --secondary-b: rgb(132, 180, 153);
    --main-m: rgb(236, 197, 100);
    --secondary-m: rgb(130, 75, 137) ;
    --main-a: rgb(240, 189, 219);
    --secondary-a: rgb(220, 124, 73) ;
}

@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Nunito_Italic";
    src: url(../assets/fonts/Nunito-Italic-VariableFont_wght.ttf);
}


  .menu {
      height: 7vw;
      width: 25vw;
      margin: 0 auto;
      position: absolute;
      display: inline-block;
      color: var(--background-color);
      background-color: var(--secondary-m);
      font-family: "Nunito", Arial, Helvetica, sans-serif; 
      border-radius: 50px;
      top: 50px;
      left: 50%;
      transform: translateX(-50%); 
      box-shadow: 0px 3px 15px rgba(90, 52, 95, 0.3);
    }
    
    .opcoes {
      display: none;
      position: absolute;
      list-style: none;
      padding: 0;
      background-color: var(--background-color);
      font-family: "Nunito", Arial, Helvetica, sans-serif; 
      z-index: 1; 
      width: 25vw; 
      border-radius: 15px;
      box-shadow: 0px 3px 15px rgba(90, 52, 95, 0.3);
    }
  
    .opcoes li {
      padding: 8px 12px;
      text-align: center;
    }
    
    .opcoes a {
      text-decoration: none;
    }
    
    .menu:hover .opcoes {
      display: block;
      top: 4vw; 
    }
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1; 
      color: var(--background-color); 
      font-size: 20px; 
    }
  
  body {
      display: flex;
      justify-content: flex-start; 
      align-items: flex-end;
      min-height: 100vh;
      margin: 0;
      background-color: var(--main-b);
  }
  
  .geral {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: normal;
  }
  
  section{
      font-family: "Nunito", Arial, Helvetica, sans-serif;
      border-radius: 15px;
      line-height: 1.2;
      color: var(--secondary-m);
  }
  
  .section1 {
      display: flex;
      position: relative;
      height: 20vw;
      flex-direction: column;
      margin: 15px;
      margin-bottom: 38vw;
      padding: 50px;
      margin-top: 40vw;
  }
  
  .section2 {
      display: flex;
      position: relative;
      width: 75vw;
      height: 20vw;
      flex-direction: column;
      margin: 15px;
      margin-bottom: 40vw;
      padding: 50px;
      margin-top: 0;
    

  }
  
  ul {
      list-style: none;
      padding: 0;
  }
  
  h3 {
      margin-top: 0;
  }

  @media only screen and (min-width: 768px) {

.menu {
    height: 3vw;
    width: 12vw;
    margin: 0 auto;
    position: absolute;
    display: inline-block;
    color: var(--background-color);
    background-color: var(--secondary-m);
    font-family: "Nunito", Arial, Helvetica, sans-serif; 
    border-radius: 50px;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%); 
    box-shadow: 0px 3px 15px rgba(90, 52, 95, 0.3);
  }
  
  .opcoes {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: var(--background-color);
    font-family: "Nunito", Arial, Helvetica, sans-serif; 
    z-index: 1;
    top: 30px; 
    width: 12vw; 
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(90, 52, 95, 0.3);
  }

  .opcoes li {
    padding: 8px 12px;
    text-align: center;
  }
  
  .opcoes a {
    text-decoration: none;
  }
  
  .menu:hover .opcoes {
    display: block;
    top: 1.8vw; 
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--background-color); 
    font-size: 20px; 
  }

body {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end;
    min-height: 100vh;
    margin: 0;
    background-color: var(--main-b);
}

.geral {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-end;
}

section{
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    border-radius: 15px;
    line-height: 1.2;
    color: var(--secondary-m);
    font-size: 14px;
}

.section1 {
    display: flex;
    position: relative;
    width: 30vw;
    height: 20vw;
    flex-direction: row;
    margin: 15px;
    margin-bottom: 0;
 
}

.section2 {
    display: flex;
    position: relative;
    width: 40vw;
    height: 20vw;
    flex-direction: row;
    margin: 15px;
    padding-bottom: 0%;
    margin-top: 100px;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

h3 {
    margin-top: 0;
}
  }
